rootfs

sandbox

test_*

example.sh

run_tests.sh

cs485_sandbox_test_suite/*

cs485_sandbox_test_suite/*

!cs485_sandbox_test_suite/bin/
cs485_sandbox_test_suite/bin/*

!cs485_sandbox_test_suite/bin/public/
cs485_sandbox_test_suite/bin/public/*

!cs485_sandbox_test_suite/bin/public/milestone1
